[submodule "themes/butterfly"]
	path = themes/butterfly
	url = https://github.com/jerryc127/hexo-theme-butterfly
[submodule "937-s-blog"]
	path = 937-s-blog
	url = https://github.com/937miaow/937-s-blog
